<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onClick="getChatResponse()">Add Text</button>
    <textarea id="message" name="message" placeholder="enter message"></textarea><br>
    <script>
        const getChatResponse = async() => {
            const API_URL = "/message"
            var textarea = document.getElementById("message");

            const requestOptions = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                }
            }

            try{
                const response = await (await fetch(API_URL,requestOptions)).json();
                textarea.value += response.response;
            }catch(error){
                textarea += "Something went wrong!"
            }
        }
        
    </script>
</body>
</html>